<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="classes" thread-count="2">

    <parameter name="browserName" value="Chrome"></parameter>
    
    <listeners>
        <listener class-name="utils.TestNGListener"/>
    </listeners>
    
    <test name="Sample Test">
        <classes>
            <class name="TestClass">
                <methods>
                    <include name="successfulLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>